@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: #141414;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav li {
  list-style: none;
  padding: 0px 6px;
  
}
.nav li:hover{
  color: rgb(229, 255, 0);
  font-size: 20px;
 
 
  
}

.logo {
  height: 30px;
}
.logo :hover{
  background-color: antiquewhite;
  size: 20px;
}

.avatar {
  height: 60px;
}


.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}
.search-box {
  margin-top: 10px;
  padding: 5px 5px;
  background: black;
  color: white;
  border: 1px solid white;
  width: 300px;
  border-radius: 2px;
}

#search{
    background: rgb(255, 0, 0);
    
    padding:7px 12px;
    color:white;
    font-size:14px
   
}
#search:hover{
  border-radius: 6em 4em;
 
}

.main {
  background: black;
  color: white;
  min-height: 100vh;
}

.movies-section {
  display: flex;
  margin: 15px 50px;
  flex-wrap: wrap;
}

.movie-card {
  margin: 0px 10px;
}

.movie-image {
  height: 250px;
}

.movie-image img {
  height: inherit;
}

.movie-heading {
  font-weight: bold;
  color: red;
}
.search-box{
  box-shadow: #fff;
  border-radius: 5px;
}

.search-box:hover{
  border-radius: 8px;
  border: 1.5px dotted rgb(0, 217, 255);
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: ;

}